nav {
  background-color: lightgrey;
  padding: 20px;
  text-align: center;
  padding-top: none;
  font-family: sans-serif;
  font-size: 12px;
}

nav ul {
  list-style: none;
}
nav li {
  overflow: hidden;
  list-style-type: none;
  display: inline-block;
  padding: 15px 15px 15px 15px;
}
